@import '../layout/variables'

$section-gap: 2rem
$shadow-width: 12px

.about-section
  margin-bottom: 9.6rem
  .top
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    height: 48px
    padding: 0.5rem 1.4rem
    img
      height: 24px
  .content
    display: flex
    .wrapper-left, .wrapper-right
      width: 50%
    .info, .video
      height: 384px
    .support, .avatars
      display: flex
      justify-content: center
      align-items: center
      height: 96px
    .wrapper-left
      .info
        padding: 2.25rem 1.5rem
        padding-right: 1.9rem
        .title
          font-size: 72px
          font-weight: 800
          position: relative
          z-index: 2
        .description
          position: relative
          .bg-shape, .avatar, .bubble
            position: absolute
            z-index: 1
          .bg-shape
            top: -60px
            left: -15px
          .avatar
            top: 15px
            left: 23px
          .bubble
            top: 23px
            left: 184px
            width: 520px
            .text-container
              padding-bottom: 1.2rem
        &.rtl
          .description
            .bg-shape, .avatar, .bubble
              left: unset
            .bg-shape
              right: -15px
            .avatar
              right: 23px
            .bubble
              right: 184px
    .wrapper-right
      .video
        display: flex
        justify-content: center
        align-items: center
        padding: 1.5rem
        .video-container
          position: relative
          width: 100%
          height: 100%
          max-width: 710px
          border: $border_black
          border-radius: 40px
          .btn-play
            position: absolute
            top: calc(50% - 48px)
            left: calc(50% - 48px)
            width: 96px
            height: 96px
            text-align: center
            line-height: 96px
            background-color: #fff
            border: $border_black
            border-radius: 50%
        &.rtl
          .video-container .btn-play
            transform: scaleX(-1)
      .avatars
        padding: 0.7rem 0
        .avatars-container
          display: flex
          gap: 0.5rem
          img
            width: 72px



.how-section
  margin-bottom: 9.8rem
  .section-title
    margin-bottom: 3.1rem
  .description
    position: relative
    .bg-shape, .avatar, .bubble
      position: absolute
    .bg-shape
      top: -170px
      right: -1px
    .avatar
      top: -170px
      right: 43px
      z-index: 1
    .bubble
      top: -108px
      right: 216px
      width: 483px
      .text-container
        padding: 0.7rem
    &.rtl
      .bg-shape, .avatar, .bubble
        right: unset
      .bg-shape, .avatar
        transform: scaleX(-1)
      .bg-shape
        left: -1px
      .avatar
        left: 43px
      .bubble
        left: 216px
  .cards
    display: flex
    margin-top: -1px
    margin-left: -1px
    .card
      display: flex
      flex-direction: column
      width: 376px
      min-width: 25%
    .card-img
      display: flex
      justify-content: center
      align-items: center
      height: 250px
      img
        width: 186px
    .card-text
      display: flex
      justify-content: center
      align-items: center
      flex: 1
      text-align: center
      padding: 1.4rem 1rem


.reasons-section
  margin-bottom: 6.8rem
  .section-title
    margin-bottom: 1.6rem
  .wrapper
    display: flex
    .left-wrapper,
    .right-wrapper
      display: flex
      width: 50%
      height: max-content
    .left-wrapper
      padding-right: 2rem
      align-items: center
    .right-wrapper
      padding-left: 1rem
      .join-btn
        margin-top: 1.5rem
    &.rtl
      .left-wrapper
        padding-left: 2rem
      .right-wrapper
        padding-right: 1rem


.events-section
  margin-bottom: 5.9rem
  .show-btn
    display: flex
    align-items: center
    gap: 1rem
    @include fontBtn
    .btn-arrow
      @include slide-button(15px, $color-black, $font-black, $blue_background, $color-black, $font_white)
      &::after
        transform: translateX(100%)
      &:hover   
        &::after
          transform: translateX(0%)
    &:hover
      .btn-arrow
        color: $font_white
        &::after
          transform: translateY(0%)
    &.rtl
      .btn-arrow
        transform: rotate(180deg)
  .events-container
    display: flex
    justify-content: center
    margin-top: 4.8rem
    margin-bottom: 6.5rem
    max-width: 100%
    .event
      padding: 0 1.2rem
      padding-bottom: 1.2rem
      border: $border_black
      border-radius: 4px
      background-color: $background_main
      .options-menu
        @include optionsBtn(30px, $color-black)
      .img-container
        width: 360px
        height: 216px
        border: 1px solid $color-black
        margin-top: -3px
        margin-bottom: 1.2rem
      .event-title, .event-info
        text-align: center
      .event-title
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
      .event-info
        @include fontSmall
        line-height: 16px
        margin-top: 0.3rem
    .event-1
      z-index: 1
      transform: translateX(10px) rotate(4deg)
    .event-2
      z-index: 2
      transform: translate(-79px, 40px) rotate(-18deg) 
    .event-3
      z-index: 3
      transform: translate(-109px, 4px) rotate(12deg)
    .event-4
      z-index: 4
      transform: translate(-128px, 25px) rotate(-12deg)
    &.rtl
      .event-1
        transform: translate(5px, -1px) rotate(-4deg)
      .event-2
        transform: translate(93px, 40px) rotate(18deg) 
      .event-3
        transform: translate(123px, 3px) rotate(-12deg)
      .event-4
        transform: translate(143px, 24px) rotate(12deg)    
  .bottom-btn
    display: block
    .show-btn
      transform: rotate(90deg)
      margin: 0 auto

.donation-section
  margin-bottom: 14rem
  .section-title
    margin-bottom: 3rem
  .top
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    height: 48px
    padding: 0.5rem 1.4rem
    padding-right: 1.9rem
    .content-title
      letter-spacing: 0.5px
  .center
    display: flex
    .payment-details,
    .description
      width: 50%
    .payment-details
      padding: 2.2rem
      padding-left: 1.5rem
      .form
        display: flex
        flex-direction: column
        gap: 1.5rem
    .description
      position: relative
      .bg-shape, .avatar, .bubble
        position: absolute
      .bg-shape
        width: 263px
        top: 59px
        right: 5px
      .avatar
        top: 82px
        right: 47px
      .bubble
        top: 23px
        right: 210px
        width: 69%
      &.rtl
        .bg-shape, .avatar, .bubble
          right: unset
        .bg-shape
          left: 5px
        .avatar
          left: 47px
          transform: scaleX(-1)
        .bubble
          left: 210px
  .avatars
    display: flex
    justify-content: center
    padding: 0.7rem
    .avatars-container
      display: flex
      gap: 0.5rem
  .bottom
    display: flex
    .transaction, .join
      display: flex
      justify-content: center
      width: 50%
      padding: 1.4rem

.important-facts-section
  margin-top: $section-gap
  .facts-container
    display: flex
    justify-content: center
    margin-top: 4.7rem
    margin-bottom: 262px
    width: 100%
    .fact
      position: relative
      width: 376px
      height: 376px
      .fact-text,
      .fact-number
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        border-radius: 50%
      .fact-text        
        padding: 24px
        background-color: $blue_background
        color: $font_white
        text-align: center      
      .fact-number
        z-index: 1
        background-color: $background_main
        border: $border_black
        font-size: 96px
        font-weight: 500
        transform: translateY(0%)
        transition: transform 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55)
      &:hover .fact-number
        transform: translateY(63%)



//------------------------------------------------------

// .bubble
//   display: flex
//   height: max-content
//   .corner
//     width: 30px
//     height: 50px
//     overflow: hidden
//     position: relative
//     align-self: flex-end
//     border-bottom: 1px solid $color_black
//     &::before
//       content: ""
//       display: block
//       width: 200%
//       height: 200%
//       position: absolute
//       border: 1px solid $color_black
//       border-radius: 16px
//     &.left
//       margin-right: -1px
//       &:before
//         bottom: 0
//         right: 0
//         box-shadow: 15px 25px 0 0 $yellow_background
//     &.right
//       margin-left: -1px
//       &:before
//         bottom: 0
//         left: 0
//         box-shadow: -15px 25px 0 0 $yellow_background

//   .text-container
//     @include fontBubble
//     padding: 1rem
//     background-color: $yellow_background
//     border: 1px solid $color_black
//     border-radius: 12px
//     &.left
//       border-bottom-left-radius: 0
//     &.right
//       border-bottom-right-radius: 0

//     p
//       @include fontBubble
//     p:not(:last-child)
//       margin-bottom: 0.4rem


.slide-btn-big
  display: flex
  align-items: center
  gap: 1rem
  border: $border_black
  border-radius: 30px
  @include fontBtn
  padding: 0.2rem
  padding-left: 1.5rem
  padding-right: 3.6rem
  position: relative
  .button-text
    line-height: 40px
    z-index: 2
    transition: color 0.2s ease
  .circle
    line-height: 40px
    position: absolute
    right: 0.2rem
    width: 40px
    color: $color_white
    background-color: $blue_background
    border-radius: 30px
    z-index: 1
    text-align: right
    padding-right: 0.8rem
    transition: all 0.4s cubic-bezier(.49,-0.24,.54,1.27)
  &:hover
    .button-text
      color: $color_white
    .circle
      width: calc(100% - 0.4rem)
  &.rtl
    padding-left: 3.6rem
    padding-right: 1.5rem
    .circle
      left: calc(0.2rem)
      right: unset
      text-align: left
      padding-left: 0.8rem
      .arrow
        transform: rotate(180deg)

.options-menu-big
  display: block
  position: relative
  width: 60px
  min-width: 60px
  height: 12px
  span
    position: absolute
    background-color: $color_black
    border-radius: 50%
    top: 0
    left: 24px
    width: 12px
    height: 100%
  &:before,
  &:after
    content: ''
    background-color: $color_black
    position: absolute
    border-radius: 50%
    width: 12px
    height: 100%
    top: 0
  &:before
    left: 0
  &:after
    right: 0

.input-wrapper
  position: relative
  label
    position: absolute
    top: -6px
    left: 12px
    background-color: $background_main
    padding: 0 5px
    font-size: 12px
    font-weight: 600
    letter-spacing: 0.5px
  .input
    width: 100%
    height: 48px
    padding: 0 1rem
    background-color: $background_main
    outline: none
    border: $border_black
    border-radius: 4px
    letter-spacing: 0.5px
  .copy-button
    position: absolute
    height: 46px
    line-height: 46px
    padding: 0 0.7rem
    padding-left: 0.4rem
    text-align: center
    background-color: $background_main
    border-radius: 4px
    top: 1px
    right: 1px
    span
      display: block
      font-size: 22px
  &.rtl
    label
      left: unset
      right: 12px
    .copy-button
      right: unset
      left: 1px
      padding: 0 0.7rem
      padding-right: 0.4rem


// -------------------------------------------------------------

@media only screen and (max-width: 1580px)
  .about-section .content .wrapper-left .info .description .bubble
    width: 73%

@media only screen and (max-width: 1450px)
  .about-section .content .wrapper-left .info
    .title
      font-size: 54px
    .description
      margin-top: 45px
      .bg-shape
        width: 300px
      .avatar
        width: 130px
      .bubble
        left: 160px
      &.rtl
        .bubble
          right: 160px

@media only screen and (max-width: 1255px)       
  .about-section .content
    .wrapper-left
      .info .description .bubble
        top: 0
        width: 68%
    .wrapper-right .avatars .avatars-container img
      width: 50px

@media only screen and (max-width: 1130px)
  .about-section .content .wrapper-left .info .title
    font-size: 50px

@media only screen and (max-width: 1050px)
  .about-section
    .content
      flex-direction: column
      .wrapper-left, .wrapper-right
        width: 100%
      .wrapper-left .info
        .title
          font-size: 72px
        .description
          margin-top: 35px
          margin-left: 20px
      .wrapper-right
        .video
          padding: 1rem
          .video-container
            height: 100%
        .avatars .avatars-container img
          width: 72px

@media only screen and (max-width: 640px)
  .about-section .content .wrapper-right
    .video
      height: 300px
      .video-container .btn-play
        width: 48px
        height: 48px
        line-height: 48px
        top: calc(50% - 24px)
        left: calc(50% - 24px)
    .avatars .avatars-container img
      width: 64px

@media only screen and (max-width: 740px)
  .about-section, .how-section
    margin-bottom: 3rem
  .reasons-section
    margin-bottom: 3.2rem
  .events-section
    margin-bottom: 3rem
  .donation-section
    margin-bottom: 2.9rem
  .about-section .content .wrapper-left .info .title
    font-size: 50px

@media only screen and (max-width: 550px)
  .about-section
    .top
      padding-left: 1rem
      img
        width: 152px
    .content
      .support, .avatars
        height: 80px
      .wrapper-left
        .info
          padding: 1.1rem 0.9rem
          height: 442px
          .title
            font-size: 45px
            line-height: 50px
          .description
            margin: 0
            .bg-shape
              width: 254px
              top: 60px
              left: -10px
            .avatar
              width: 91px
              top: 175px
              left: -8px
            .bubble
              top: 10px
              left: 93px
            &.rtl
              .bg-shape, .avatar, .bubble
                left: unset
              .bg-shape
                right: -10px
              .avatar
                right: -8px
              .bubble
                right: 93px
      .wrapper-right
        .video
          height: 232px
          padding: 0 1rem
          .video-container
            width: 100%
            height: 200px
        .avatars .avatars-container
          gap: 0.1rem
          img
            width: 48px

@media only screen and (max-width: 395px)
  .about-section .content
    .wrapper-left .info
      height: 530px
    .wrapper-right .avatars
      height: max-content
      .avatars-container
        flex-wrap: wrap
        justify-content: center
        padding: 0 0.5rem


//-----------------------------------------------------

@media only screen and (max-width: 1000px)
  .how-section .cards
    flex-direction: column
    .card
      width: 100%

@media only screen and (max-width: 920px)
  .how-section .description .bubble
    width: 350px
    top: -140px

@media only screen and (max-width: 800px)
  .how-section
    .description
      width: 100%
      height: 171px
      .bg-shape
        width: 140px
        top: 45px
      .avatar
        width: 85px
        top: 35px
        right: -2px
      .bubble
        width: 75%
        top: -25px
        right: 93px
        .text-container
          padding-right: 0.6rem
    .cards .card-text
      padding: 1rem

@media only screen and (max-width: 412px)
  .how-section
    .description
      width: 100%
      height: 171px
      .bg-shape
        width: 140px
        top: 45px
      .avatar
        width: 85px
        top: 35px
        right: -2px
      .bubble
        width: 75%
        top: -25px
        right: 93px
        .text-container
          padding-right: 0.6rem
    .cards .card-text
      padding: 1rem

@media only screen and (max-width: 380px)
  .how-section .description
    height: 200px
    .bubble
      width: 66%
      top: -35px

//---------------------------------------------------------

@media only screen and (max-width: 1188px)
  .reasons-section .wrapper
    .left-wrapper
      padding-right: 0

@media only screen and (max-width: 1055px)
  .reasons-section .wrapper
    flex-direction: column
    gap: 2rem
    .left-wrapper, .right-wrapper
      width: 100%

@media only screen and (max-width: 550px)
  .reasons-section
    .section-title
      margin-bottom: 1.3rem
    .wrapper
      gap: 1rem
      .left-wrapper, .right-wrapper
        display: flex
        align-items: center
      .left-wrapper
        height: 240px
        img
          width: 99px
          align-self: flex-end
        .bubble
          width: 100%
          align-self: flex-start
          margin-left: -7px
      .right-wrapper
        padding: 0
        position: relative
        img
          position: absolute
          width: 100px
          right: 0
          z-index: -1
        .text
          display: flex
          flex-direction: column
          position: relative
          width: 100%
          gap: 2.8rem
          .bubble
            width: 76%
          .join-btn
            margin: 0 auto
            margin-top: 1.5rem
      &.rtl
        .left-wrapper, .right-wrapper
          padding: 0
        .right-wrapper img
          right: unset
          left: 0

@media only screen and (max-width: 412px)
  .reasons-section .wrapper .left-wrapper
    height: 260px

@media only screen and (max-width: 385px)
  .reasons-section .wrapper
    gap: 3rem
    .right-wrapper .text .bubble
      width: 67%

@media only screen and (max-width: 320px)
  .reasons-section .wrapper
    gap: 6rem


// ---------------------------------------------------------

@media (max-width: 1700px) and (min-width: 1600px)
  .events-section .events-container
    justify-content: normal

@media only screen and (max-width: 1599px)
  .events-section .events-container
    .event .img-container
      width: 100%
      height: 200px

@media only screen and (max-width: 1260px)
  .events-section .events-container
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr))
    grid-gap: 0.7rem
    .event-1, .event-2, .event-3, .event-4
      transform: none
    &.rtl
      .event-1, .event-2, .event-3, .event-4
        transform: none      

@media only screen and (max-width: 937px)
  .events-section .events-container
    margin-bottom: 2rem

@media only screen and (max-width: 550px)
  .events-section
    .section-title
      a
        margin-right: 4px
    .events-container
      margin-top: 2.2rem
      margin-bottom: 1.5rem
      .event-1
        background-color: $yellow_background

@media only screen and (max-width: 380px)
  .events-section
    .section-title
      a
        margin: 0
        margin-left: 1rem
      .show-btn
        gap: 0.5rem
        .btn-arrow
          width: 35px
          height: 35px
          line-height: 35px
      &.rtl
        a
          margin: 0 1rem 0 0

// ---------------------------------------------------------

@media only screen and (max-width: 1180px)
  .donation-section
    .center, .bottom
      flex-direction: column
    .center .payment-details,
    .center .description,
    .bottom .transaction,
    .bottom .join
      width: 100%
    .center .description
      height: 334px

@media only screen and (max-width: 1530px)
  .donation-section .center .description .bubble
    width: 60%

@media only screen and (max-width: 607px)
  .donation-section
    .section-title
      margin-bottom: 1.6rem
    .top
      padding-left: 1rem
      padding-right: 1.4rem
      &.rtl
        padding-left: 1.4rem
        padding-right: 1rem        
      .content-title
        letter-spacing: 0.2px
    .center
      .payment-details
        padding: 1.4rem 1.1rem
        padding-left: 0.9rem
        &.rtl
          padding: 1.4rem 0.9rem 1.4rem 1.1rem
      .description
        height: 444px
        .bg-shape
          width: 180px
          top: unset
          bottom: 15px
          right: 0
        .avatar
          width: 83px
          top: unset
          bottom: 10px
          right: 16px
        .bubble
          width: 67%
          top: 17px
          left: 15px
          right: unset
          .text-container
            padding: 0.7rem
        &.rtl
          .bg-shape, .avatar
            right: unset
          .bg-shape
            left: 0
          .avatar
            left: 16px
          .bubble
            left: unset
            right: 15px

    .avatars
      display: none
    .bottom
      .transaction, .join
        padding: 1rem 0

@media only screen and (max-width: 390px)
  .donation-section .center .description
    height: 500px
    .bubble
      width: 92%
  
//---------------------------------------------------------

@media only screen and (max-width: 1200px)
  .important-facts-section .facts-container .fact
    width: calc(100% / 4)
    height: unset
    padding-top: calc(100% / 4)

@media only screen and (max-width: 1200px)
  .important-facts-section .facts-container
    .fact
      .fact-number
        font-size: 50px
        &:hover
          transform: translateY(70%)
      .fact-text
        font-size: 14px

@media only screen and (max-width: 840px)
  .important-facts-section .facts-container
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(300px, 380px))
    margin-top: 1.5rem
    margin-bottom: 6.2rem
    .fact
      width: 100%
      padding-top: 100%
      .fact-text, .fact-number
        background-color: inherit
        align-items: normal
      .fact-text
        color: $font_black
        padding: 50% 12%
      .fact-number
        font-size: 24px
        font-weight: 700
        padding-top: 38%
        transform: none
        transition: none
        &:hover
          transform: none

@media only screen and (max-width: 819px)
  .important-facts-section .facts-container
    flex-direction: column
    align-items: center
    gap: 1rem
    // margin-top: 1.5rem
    // margin-bottom: 6.2rem
    // .fact
    //   width: 100%
    //   padding-top: 100%
    //   .fact-text, .fact-number
    //     background-color: inherit
    //     align-items: normal
    //   .fact-text
    //     color: $font_black
    //     padding: 50% 12%
    //   .fact-number
    //     font-size: 24px
    //     font-weight: 700
    //     padding-top: 38%
    //     transform: none
    //     transition: none
    //     &:hover
    //       transform: none


      
      

